body, html {
	height: 100%;
}
.content {
	min-height: calc(100% - 108px);
	height: auto !important;
	height: 100%;
	position: relative;
}

.window-centered {
	position: absolute;
	top: calc(50% - 108px);
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

// login page styles